.hola {
  display: flex;
  justify-content: space-around;
  padding: 0px 10%;
  div {
    padding: 16px;
  }
}

.parallax > * {
  animation: parallax linear 500ms;
  animation-timeline: scroll();
}
.parallax {
  animation: parallax linear 500ms;
  animation-timeline: scroll();
}
.xs1 {
  --parallax-speed: -1;
}
.xs2 {
  --parallax-speed: -2;
}

.xs3 {
  --parallax-speed: -3;
}
.xs4 {
  --parallax-speed: -4;
}
.xs5 {
  --parallax-speed: -5;
}

.p05 {
  --parallax-speed: 0.5;
}

.p1 {
  --parallax-speed: 1;
}
.p2 {
  --parallax-speed: 2;
}
.p3 {
  --parallax-speed: 3;
}
.p4 {
  --parallax-speed: 4;
}
.p5 {
  --parallax-speed: 5;
}
.p10 {
  --parallax-speed: 10;
}
.p15 {
  --parallax-speed: 15;
}
.p20 {
  --parallax-speed: 20;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * -100px));
  }
}

.custom-shape-divider-top-1701564296 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701564296 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 90px;
}

.custom-shape-divider-top-1701564296 .shape-fill {
  fill: #ffffff;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(149, 151, 154, 0.324);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.desafios_info {
  background-color: #1b1f59;
  color: white;
  padding: 0px 120px;
}
.papeles {
  position: relative;
}
.papel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.papel1 {
  z-index: 200;
  transform: translateY(1px);
}
.papel2 {
  position: absolute;
  top: 0;
  left: 0;
  //tint image
  filter: brightness(0.5);
  transform: translateY(100px);
  z-index: -100;
}
.desafiosPuesQueMas {
  transform: translateY(-70px);
}

.desafios_main_div {
  background-color: #1b1f59;
}
.iconos {
  position: relative;
  display: flex;
  justify-content: space-around;
  transform: translateY(200px);
  svg {
    overflow: visible;
    width: 50px;
    height: 50px;
    fill: #383e92;
    &:nth-child(1) {
      transform: translateX(50px) translateY(180px);
    }
    &:nth-child(2) {
      transform: translateX(25px) translateY(50px);
    }
    &:nth-child(3) {
      transform: translateX(0px) translateY(240px);
    }
    &:nth-child(4) {
      transform: translateX(125px) translateY(350px);
    }
    &:nth-child(5) {
      transform: translateX(100px) translateY(400px);
    }
    &:nth-child(6) {
      transform: translateX(75px) translateY(433px);
    }
  }
  z-index: 100;
}
.desafios_info {
  background: linear-gradient(180deg, #1b1f59 0%, #1b1f59 50%, #383e92 100%);
  height: 100vh;
  transform: translateY(-400px);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.buttons{
    div{
        flex: 1;
        padding: 120px 60px;
        background-color: transparent;
        transition: 0.5s;
        *{
            width: 100%;
        }
        &:hover{
            
            transition: 0.5s;
           
        }
    }
    width: 100%;
    display: flex;
    justify-content: space-around;
}
